.container {
    margin-left: 300px; /* Same as the width of the sidebar */
}

.container-2 {
    margin: 0 auto;
    width: 72%;
    height: 400px;
    /*border: 1px solid black;*/
}

.container-2 section {
    margin-top: 100px;
}

.container-2 h3{
    font-weight: none;
    font-size: 25px;
}

.container-2 .soulignage-bleu{
    margin: 13px 0px 13px 0px;
    border-bottom: 3px solid rgb(83, 143, 175);
    width: 50px;
}

.container-2 .txt{
    text-align: justify;
    font-size: 17px;
}

.truc-dedans{
    margin-top: 15px;
}

.espacement-bas{
    height: 75px;
}