.resume-section .truc-dedans h5{
    margin-left: 10px;
    width: 13%;
    height: 18px;
    background-color: rgb(217, 247, 255);
    text-align: center;
    font-weight: normal;
}

.resume-section .truc-dedans .txt-pluspetit{
    text-align: justify;
}